<section class="about" id="sobreMi">
	<div class="container">
		<h2 class="title">Sobre mi</h2>
		<div class="container-about">
			<div class="about__image">
				<img class="about__photo" src="./assets/img/photo.png" alt="" />
			</div>

			<div>
				<div class="about-info" id="aboutInfo">
					<article class="about-info__item about-info__item--active">
						<h3>Conoceme</h3>
						<p class="paragraph">
							Mi nombre es Angel Marcos Castilla, Soy estudiante de la carrera
							de Ingenieria de software, apasionado por la programacion.
						</p>
						<p>
							Me gusta aprender nuevas cosas, entre mis valores estan el
							respeto, la responsabilidad y el trabajo en equipo.
						</p>
					</article>
          <article class="about-info__item">
						<h3> tengo experiencias en</h3>
            <ul>
              <li>Maquetar Diseños web </li>
              <li>Estructurar semanticamente un documento html</li>
              <li>Manejos de Apis</li>
              <li>Diseño responsive</li>
              <li>Uso de metodologias de css</li>
              <li>Programar en js</li>
            </ul>
					
					</article>
          <article class="about-info__item" >
						<h3>Tecnologias</h3>
            <ul class="list-technology">
              <li class="list-technology__item">
                <img class="list-technology__icon" src="./assets/img/html5.svg" alt="icono html">
              </li>
              <li class="list-technology__item">
                <img class="list-technology__icon" src="./assets/img/html5.svg" alt="icono html">
              </li>
              <li class="list-technology__item">
                <img class="list-technology__icon" src="./assets/img/html5.svg" alt="icono html">
              </li>
              <li class="list-technology__item">
                <img class="list-technology__icon" src="./assets/img/html5.svg" alt="icono html">
              </li>
              <li class="list-technology__item">
                <img class="list-technology__icon" src="./assets/img/html5.svg" alt="icono html">
              </li>
            </ul>
					</article>
          <article class="about-info__item">
						<h3>Hobby</h3>
            <p>Mis pasatiempos son salir a correr, y me gusta mucho el futbol</p>
					
					</article>
				</div>
				<div class="about__option">
					<button class="option__item option__item--active" data-option="0">Conoceme</button>
					<button class="option__item" data-option="1">Experiencias</button>
					<button class="option__item" data-option="2">Tecnologia</button>
					<button class="option__item" data-option="3">Hobby</button>
				</div>
			</div>
		</div>
	</div>
</section>
